* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

h1 {
  font-size: 45px;
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  padding: 25px;
  text-shadow: 5px 2px #f0ffff;
}

.score {
  position: relative;
  font-size: 30px;
  width: 100%;
  right: -815px;
  bottom: -75px;
}

.btn {
  padding: 14px 40px;
  font-size: 24px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid black;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin: 20px;
  right: 0;
}

.btn--l {
  position: relative;
  left: -395px;
  top: -90px;
  transform: translateX(-50%);
  color: black;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 550;
  transition: all 0.2s;

  background-color: white;
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--l:hover {
  background-color: rgb(112, 116, 112);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn--start {
  position: relative;
  transform: translateX(-50%);
  top: -175px;
  left: -200px;
  color: black;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 550;
  transition: all 0.2s;

  background-color: white;
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--start:hover {
  background-color: rgb(112, 116, 112);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.math-q {
  position: relative;
  width: 100%;
  top: -65px;
  font-size: 75px;
  color: rgb(0, 0, 0);
  text-shadow: 5px 2px #f0ffff;
  padding: 5px;
  right: -310px;
}

.btn:hover {
  background-color: rgb(100, 96, 96);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.hidden {
  display: none;
}

.question {
  position: relative;
  width: 100%;
  font-size: 60px;
  right: -245px;
}

/* CLASSES FOR CORRECT AND INCORRECT */

.btn--correct {
  background-color: green;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn--incorrect {
  background-color: red;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
